<ion-header>
  <!-- <ion-navbar>
      <ion-title>
        Ionic Blank
      </ion-title>
    </ion-navbar> -->
</ion-header>

<ion-content padding>
  <h3>สินค้าขายดี</h3>

  <ion-grid>
    <ion-row>
      <ion-col col-4 center *ngFor="let bestseller of homeModel.bestseller" (click)="goToProductsDetail(bestseller._id)">
       
          <img src="{{bestseller.pic}}">
          <br> {{bestseller.name}}
          <br>
          <div id="detail">{{bestseller.detail}}</div>
       
      </ion-col>

    </ion-row>
  </ion-grid>

  <h3>หมวดหมู่สินค้า</h3>

  <ion-grid>
    <ion-row>
      <ion-col col-3 center *ngFor="let category of homeModel.category" (click)="goToAllProducts(category._id)">
        <img src="{{category.pic}}">
        <br> {{category.name}}
      </ion-col>

    </ion-row>
  </ion-grid>


</ion-content>