<!--
  Generated template for the ProductDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{prd.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-row>
    <ion-col text-center col-12>
      <img [src]="prd.pic" img-size alt="">
    </ion-col>
  </ion-row>
  <ion-grid>
    <ion-row>
      <ion-col text-center col-12>
        <h2>{{prd.name}}</h2>
        <p>{{prd.detail}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center col-12>
        <button ion-button icon-only (click)="remove()">
          <ion-icon name="md-remove" sizebtn></ion-icon>
        </button>
        <span marginx>{{num}}</span>

        <button ion-button icon-only (click)="add()">
          <ion-icon name="md-add" sizebtn></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <h6>เลือกไซท์ที่ต้องการ</h6>
    <ion-row>
      <ion-col text-center col-12>
        <button ion-button *ngFor="let si of prd.size" [style]="active[si.size]" (click)="selectSize(si.size)">{{si.size | uppercase}}</button>
      </ion-col>
    </ion-row>
    <h6>เลือกประเภทที่ต้องการ</h6>
    <ion-row>
      <ion-col text-center col-12>
        <button ion-button *ngFor="let ty of prd.type" [style]="activeTy[ty.name]" (click)="selectType(ty.name)">{{ty.name |uppercase}}</button>

      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
<ion-footer>
  <ion-row>
    <ion-col text-center col-12>
      <button ion-button full (click)="addToCart(prd)">เพิ่มลงตระกร้า</button>
    </ion-col>
  </ion-row>
</ion-footer>