page-menu {
    [scr-size] {
        height: 85vh;
        width: 100vw;
    }
    [card-size] {
        width: 40vw;
    }
    [img-size] {
        max-height: 16vh;
        min-height: 16vh;
    }
}